@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override nprogress color */
#nprogress .bar {
  background: #f3f4f6 !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f3f4f6 !important;
  border-left-color: #f3f4f6 !important;
}
